<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <form method="GET">
        <label for="tag">Filter by tag:</label>
        <input type="text" name="tag" value="{{ tag_filter }}">
        <button type="submit">Filter</button>
    </form>
    
    <ul>
        {% for image in images %}
        <li>
            <img width="25%" src="{{ image.image.url }}">
            <p>Tags: {{ image.tags }}</p>
            <a href="gallery/list/{{ image.id }}">Details</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>